@component MovieThumbnail {
  display: block;
  position: relative;
  height: $movieThumbnailHeight;
  width: $movieThumbnailWidth;
  background-color: $darkGray;
  border-radius: 5px;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    .MovieThumbnail__play-button {
      background-color: $white;
    }
    .MovieThumbnail__play-button-inner {
      border-left-color: $red;
    }
    .MovieThumbnail__poster {
      @mixin filterImage opacity(20%);
    }
  }

  @descendent poster {
    @mixin fullHeightWidth;
    @mixin filterImage opacity(100%);

    transition: filter $defaultTransitionDuration;
    transition: -webkit-filter $defaultTransitionDuration;
  }

  @descendent overlay-buttons {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
  }

  @descendent play-button {
    @mixin makeCircle;
    @mixin makeTransition background-color;
    position: relative;
    top: 81px;
    left: 49px;
    height: 32px;
    width: 32px;
    background-color: transparent;
  }

  @descendent play-button-inner {
    @mixin makeTransition border-left;
    position: absolute;
    top: 10px;
    left: 12px;

    /* make triangle */
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: transparent;
  }
}